<h1>Sign up</h1>

<%= form_with model: @user, url: registration_path do |form| %>
  <div>
    <%= form.label :church_name, "What's the secret code?" %>
    <%= form.text_field :church_name, required: true, autofocus: true, value: @previous_secret_code, placeholder: "First part of our church name all lowercase..." %>
  </div>
  <div>
    <%= form.label :email_address %>
    <%= form.email_field :email_address, required: true, autocomplete: "username", placeholder: "Enter your email address" %>
    <% render_field_error(@user, :email_address) %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %>
    <% render_field_error(@user, :password) %>
  </div>
  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true, autocomplete: "current-password", placeholder: "Confirm your password", maxlength: 72 %>
    <% render_field_error(@user, :password_confirmation) %>
  </div>
  <%= form.submit "Sign up" %>
<% end %>
<br>
<%= link_to "Back to sign in", new_session_path %>
