<h2>Settings</h2>
<p class=" mb-4 opacity-80">
  This will reset the dates for all weeks.
</p>
<%= form_with model: @plan do |form| %>
  <%= form.label :start_date, "Start date" %>
  <%= form.date_field :start_date, value: @plan.start_date, required: true %>
  <%= form.submit %>
<% end %>

<hr class="my-8 border-neutral-300">
<h2>Reset Plan</h2>
<p class=" mb-4 opacity-80">
  This will delete all your progress and start over.
</p>
<%= button_to "Reset Plan", @plan, method: :delete, class: "w-full", data: { turbo_confirm: "Are you sure? This will delete all your progress and start over." } %>
