<% if @plan.persisted? %>
  <div class="mb-6">
    <h1 class="text-center"><%= @plan.plan_type.humanize.titleize %></h1>
  </div>
  <nav class="mb-6 bg-neutral-200/60 rounded p-1 inline-flex w-full">
    <% tabs = [
      { name: "Current Week", tab: nil },
      { name: "All Weeks", tab: "all_weeks" },
      { name: "Settings", tab: "settings" }
    ] %>
    <% tabs.each do |tab| %>
      <%= link_to tab[:name], root_path(tab: tab[:tab]), class: class_names(
        params[:tab] == tab[:tab] ? "bg-white" : "text-neutral-500 hover:text-black",
        "py-1.5 px-3.5 whitespace-nowrap rounded sm:text-base text-sm font-medium flex-1 text-center cursor-pointer"
      ) %>
    <% end %>
  </nav>
  <div class="">
    <% if params[:tab] == "settings" %>
      <%= render "plans/settings" %>
    <% else %>
      <% if params[:tab] == "all_weeks" %>
        <a href="#current-week:<%= @current_week_id %>" class="hover:bg-neutral-200 shadow-md px-4 py-1 fixed bottom-4 right-1/2 translate-x-1/2 bg-neutral-100 rounded-full text-center inline-flex justify-center items-center gap-2">
          <span>Scroll to current week</span>
          <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-4"><path d="M12 5v14"/><path d="m19 12-7 7-7-7"/></svg>-->
        </a>
      <% end %>
      <% @weeks.each do |week| %>
        <div class="py-4 border border-neutral-200 rounded p-6 mb-6" id="current-week:<%= week.id %>">
          <div class="mb-4 flex justify-between gap-2">
            <p class="font-semibold uppercase">Week <%= week.position %></p>
            <p class=" text-neutral-500"><%= format_date_range(week.start_date, week.end_date) %></p>
          </div>

          <div class="flex flex-col gap-3">
          <% week.chapters_data.each do |chapter| %>
            <%= form_with model: week, data: { controller: "auto-submit" } do |form| %>
            <div class="flex flex-row-reverse items-center gap-3 justify-end">
              <%= form.label chapter["reference"], class: "capitalize mb-0 cursor-pointer text-lg whitespace-nowrap", for: chapter["reference"] %>
              <%= form.check_box :completed, id: chapter["reference"], checked: chapter["completed"], class:"cursor-pointer w-5 h-5 p-1 mb-0", data: { action: "auto-submit#submit" } %>
              <%= form.hidden_field :reference, value: chapter["reference"] %>
              <%= form.hidden_field :action, value: "chapters_update" %>
            </div>
            <% end %>
          <% end %>

          <div class="mt-4">
            <p class="mb-2">
              Memorize
            </p>
            <%= form_with model: week, data: { controller: "auto-submit" } do |form| %>
              <div class="flex flex-row-reverse items-center gap-3 justify-end">
                <% if week.memory_verse_reference.present? %>
                  <%= form.label week.memory_verse_reference, class: "capitalize mb-0 cursor-pointer text-lg whitespace-nowrap", for: week.memory_verse_reference %>
                  <%= form.check_box :completed, id: week.memory_verse_reference, checked: week.memory_verse_completed, class:"cursor-pointer w-5 h-5 p-1 mb-0", data: { action: "auto-submit#submit" } %>
                <% else %>
                  <%= form.label week.memory_verse_comment, class: "capitalize mb-0 cursor-pointer text-lg whitespace-nowrap", for: week.memory_verse_comment %>
                  <%= form.check_box :completed, id: week.memory_verse_comment, checked: week.memory_verse_completed, class:"cursor-pointer w-5 h-5 p-1 mb-0", data: { action: "auto-submit#submit" } %>
                <% end %>
                <%= form.hidden_field :action, value: "memory_verse_update" %>
              </div>
            <% end %>
          </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <%= render "plans/empty" %>
<% end %>
