<% if @plan.persisted? %>
  <div class="mb-4">
    <h1>
      <%= @plan.plan_type.humanize.titleize %>
    </h1>
    <p>
      <%= format_date(@plan.start_date) %>
    </p>
  </div>
    <%= button_to "Reset", @plan, method: :delete, data: { turbo_confirm: "Are you sure? This will delete all your progress and start over." }, class: "btn btn-danger" %>
  <div class="">
    <%= form_with model: @plan do |form| %>
    <%= form.label :start_date, "Start date" %>
      <%= form.date_field :start_date, value: @plan.start_date, required: true %>
      <%= form.submit %>
    <% end %>
    <% @plan.weeks.each do |week| %>
      <div class="py-4 border border-neutral-300 rounded-lg p-6 mb-6">
        <div class="mb-4 flex justify-between gap-2">
          <p class="font-semibold uppercase">Week <%= week.position %></p>
          <p class=" text-neutral-500"><%= format_date_range(week.start_date, week.end_date) %></p>
        </div>

        <div class="flex flex-col gap-3">
        <% week.chapters_data.each do |chapter| %>
          <%= form_with model: week, data: { controller: "auto-submit" } do |form| %>
          <div class="flex flex-row-reverse items-center gap-3 justify-end">
            <%= form.label chapter["reference"], class: "mb-0 cursor-pointer text-lg whitespace-nowrap", for: chapter["reference"] %>
            <%= form.check_box :completed, id: chapter["reference"], checked: chapter["completed"], class:"cursor-pointer w-5 h-5 p-1 mb-0", data: { action: "auto-submit#submit" } %>
            <%= form.hidden_field :reference, value: chapter["reference"] %>
            <%= form.hidden_field :action, value: "chapters_update" %>
          </div>
          <% end %>
        <% end %>

        <div class="mt-4">
          <p class="mb-2">
            Memorize
          </p>
          <%= form_with model: week, data: { controller: "auto-submit" } do |form| %>
            <div class="flex flex-row-reverse items-center gap-3 justify-end">
              <% if week.memory_verse_reference.present? %>
                <%= form.label week.memory_verse_reference, class: "capitalize mb-0 cursor-pointer text-lg whitespace-nowrap", for: week.memory_verse_reference %>
                <%= form.check_box :completed, id: week.memory_verse_reference, checked: week.memory_verse_completed, class:"cursor-pointer w-5 h-5 p-1 mb-0", data: { action: "auto-submit#submit" } %>
              <% else %>
                <%= form.label week.memory_verse_comment, class: "capitalize mb-0 cursor-pointer text-lg whitespace-nowrap", for: week.memory_verse_comment %>
                <%= form.check_box :completed, id: week.memory_verse_comment, checked: week.memory_verse_completed, class:"cursor-pointer w-5 h-5 p-1 mb-0", data: { action: "auto-submit#submit" } %>
              <% end %>
              <%= form.hidden_field :action, value: "memory_verse_update" %>
            </div>
          <% end %>
        </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>Choose a Reading Plan</h1>
  <%= form_with model: @plan do |form| %>
    <%= form.label :plan_type, "Plan" %>
    <%= form.select :plan_type, Plan.plan_types.keys.map { |k| [k.humanize.titleize, k] }, { include_blank: "Select a plan", required: true } %>

    <%= form.label :start_date, "Start date" %>
    <%= form.date_field :start_date, value: Date.today, required: true %>
    <p class="text-sm text-neutral-500 -mt-2">You can change this at any time.</p>
    <br />
    <%= form.submit "Get Started" %>
  <% end %>
<% end %>
