<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Dgroup App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

<%#     <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png"> %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
  </head>

  <body>
    <% if Current.user %>
      <%= render "shared/nav" %>
      <div class="max-w-lg mx-auto p-6">
        <%= render "shared/flash" %>
        <%= yield %>
      </div>
    <% else %>
      <div class="flex justify-end p-6">
        <%= render "shared/theme_toggle" %>
      </div>
      <div class="max-w-[420px] mx-auto mt-4 p-6">
        <%= render "shared/flash" %>
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
