<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Dgroup" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

<%#     <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png"> %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
  </head>

  <body>
    <% if Current.user %>
      <div class="flex justify-between items-center mb-10 sm:flex-row flex-col gap-4">
        <p>Signed in as <%= Current.user.email_address %></p>
        <div class="flex gap-4">
          <%= link_to "Plan", root_path, class: "opacity-50 hover:opacity-100 p-0! border-none! font-normal!" %>
          <%= link_to "Settings", root_path(tab: "settings"), class: "opacity-50 hover:opacity-100 p-0! border-none! font-normal!" %>
          <%= button_to "Sign out", session_path, method: :delete, class: "bg-transparent! text-black! opacity-50 hover:opacity-100 p-0! border-none! font-normal!" %>
        </div>
      </div>
    <% end %>
    <div class="max-w-lg mx-auto">
      <%= yield %>
    </div>
  </body>
</html>
